
/* full width search bar */
.form-control:focus {
    box-shadow: none;
  }

  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

  /* END full width search bar */


  /* image list */
  .card-img {
    padding-top: 100%;
    position: relative;
  }
  
  .card {
    border: none!important;
    margin-bottom: 20px!important;
  }
  
  .card-img-top {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
  }

   /* END image list */




 
   .video-wrap {
    position: relative;
    width: 100%;
    height: 56.25vw;
    max-height: calc(100vh - 169px);
    min-height: 480px;
    background: #000;
}
    .video-wrap iframe {
        width: 100%;
        height: 100%;
        left: 203px;
        top: 0px;
    }





   